.guide-page {
    .wrapper {
        padding: 60px 0;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    
        h5 {
            font-size: 40px;
            font-style: bold;
            margin-bottom: 20px;
        }
    }
}
