#masthead {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: rgb(240, 240, 240);
  color: $black;

  &.scroll {
    color: $black;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    & > div:hover {
        cursor: pointer;
    }

    .menu-icon,
    .user-icon {
      width: 36px;
      height: auto;
    }

    .logo {
      width: auto;
      height: 36px;
      
    }
    
  }
}