h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.02em;
}

p {
  font-size: 16px;
}

h4 {
  font-weight: bold;
}

.gradient-text {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  font-size: 14px;
}

.loginButton {

}