h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.02em;
}

p {
  font-size: 16px;
}

.gradient-text {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  background-image: linear-gradient(to right, #0072ff 0%, #0b9ef3 51%, #0072ff 100%);
  border: none;
  outline: none;
  padding: 17px 24px;
  transition: 200ms all ease-in-out;
  background-size: 200% auto;
  &.error {
    background-image: linear-gradient(to right, #F82D00 0%, #EE7200 51%, #F82D00 100%)
  }
  &:hover {
    background-position: right center;
  }
}

.loginButton {

}